:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;

}

@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

.borders{
  border: 1px solid red !important;
}

.landing-page{
  
}