:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {

  font-family: "Inter", sans-serif;
}

@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

.borders{
  border: 1px solid red !important;
}

.landing-page{
  
}